<div class="container">
    <br>
    <div class="jumbotron mb-5">
        <h1 class="display-4">Send Message</h1>
        <br>
        <label for="grpId">**This is chat_id Give unique each time(Confirm from either side will be handled in future --- Testing purpose)</label>
        <input id="grpId" class="form-control" placeholder="User Id Primary Key" [(ngModel)]="usrId">
        <br>
        <label for="grpId">**This is group_id</label>
        <input id="grpId" class="form-control" placeholder="Group Id" [(ngModel)]="grpId">
        <br>
        <br>
        <input id="name" class="form-control" placeholder="Name" [(ngModel)]="usrName">
        <br>
        <textarea id="message" class="form-control" placeholder="Your Message Here" [(ngModel)]="usrMsg"></textarea>
        <br>
        <button id="send" class="btn btn-primary" (click)="sendMsgBtn()">Send</button>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 col-lg-4 card m-2" style="width: 18rem;" *ngFor="let msg of msgList">
            <div class="card-body">
                <h5 class="card-title">{{msg.name}}</h5>
                <p class="card-text fst-italic">{{msg.message}}</p>
                <p class="card-text fw-bold">Group :- {{msg.group_id}}</p>
                <a class="btn btn-danger" (click)="deleteMsg(msg)">Delete</a>
            </div>
        </div>

    </div>
    

</div>